body {
  font: normal 14px Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 26px;
}

h3 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex: 0 75%;
  flex-direction: column;
}

.error {
  color: #f00;
}