body {
  font: normal 14px Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 26px;
}

h3 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex: 0 75%;
  flex-direction: column;
}

.page-header {
  padding-bottom: 5px;
}

.error {
  color: #f00;
}

.video-info {
  flex: 1 100%;
}

.video-title {
  text-decoration: underline;
}

.video-description {
  margin: 15px 0px;
}

.video-uploaded {
  color: #777;
  font-size: 12px;
  padding: 0px 5px;
}