.video-list {
  border: 1px solid #000;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.video-list > li {
  display: flex;
  padding: 10px 0px;
}

.video-list > li + li {
  border-top: 1px dotted #aaa;
}

.video-info {
  flex: 1 100%;
}

.video-title {
  text-decoration: underline;
}

.video-description {
  padding: 10px 0px;
}

.uploaded {
  color: #777;
  font-size: 12px;
}

.btn-delete {
  align-self: flex-end;
  background: none;
  border: 1px solid #f00;
  border-radius: 5px;
  color: #000;
  flex: 0 10%;
  padding: 5px 15px;
}

.btn-delete:hover {
  background-color: #f00;
  color: #fff;
  cursor: pointer;
}