.video-list {
  border: 1px solid #000;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.video-list > li {
  padding: 10px 0px;
}

.video-list > li + li {
  border-top: 1px dotted #aaa;
}

.video-title {
  text-decoration: underline;
}

.video-description {
  padding: 10px 0px;
}

.uploaded {
  color: #777;
  font-size: 12px;
}