body {
    font: normal 14px Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 26px;
}

h3 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

header {
    margin-bottom: 25px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user-login {
    align-self: flex-end;
    padding: 10px 25px;
}

.heading {
    padding: 10px 0px 5px 0px;
    text-align: center;
    text-decoration: underline;
}

.error {
    color: #dc3545;
}

.login, .register {
    width: 50%;
}
